<template>
  <form>
    <h3>Login</h3>
    <div class="form-group">
      <label for="">Email</label>
      <input type="email" class="form-control" placeholder="Email" />
    </div>

    <div class="form-group">
      <label for="">Password</label>
      <input type="password" class="form-control" placeholder="Password" />
    </div>

    <button class="btn btn-primary btn-block">Login</button>
  </form>
</template>

<script>
  export default {
    name: "Login",
  };
</script>

<style scoped>
  h3 {
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  input {
    width: 20rem;
    margin-bottom: 10px;
  }
</style>
