<template>
  <Nav />
  <div class="auth-wrapper">
    <div class="auth-inner">
      <router-view />
    </div>
  </div>
</template>

<script>
  import Nav from "./components/Nav.vue";

  export default {
    name: "App",
    components: { Nav },
  };
</script>

<style>
  .auth-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
  }

  .auth-inner {
    padding-top: 15px;
    width: 450px;
    height: 300px;
    margin: auto;
    background: rgb(231, 231, 231);
    border-radius: 10px;
    transition: all 0.3s;
  }
</style>
